@font-face {
    font-family: pretendard;
    src: url(./fonts/PretendardVariable.woff2);
}

#body {
    background-color: #ffffff;
}

/* 클래스 이름으로 css 적용 */
.bottom-border {
    border-bottom: 2px groove #333333;
}

.right-border {
    border-right: 2px groove #333333;
}

.top-border {
    border-top: 2px groove #333333;
}

.text-purple {
    color: #b02b74;
}

.table .row .fa-check, .table .row .fa-circle-check {
    color: #b02b74;
}

.table .row .fa-check:hover, .table .row .fa-circle-check:hover {
    color: #b04272;
    cursor: pointer;
}

.text-instagram {
    background: linear-gradient(to left bottom, #833ab4, #fd1d1d, #fcb045);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: none;
}

.text-youtube {
    color: #FF0000;
}

.text-naver {
    color: #03c75a;
}


* {
    font-family: pretendard;
    font-weight: 700;
    color: #F1F1F1;
}

body {
    background-color: #1b1b1b;
}

/* 모달 css */
.modal .modal-dialog h5 {
    color: #333333;
}

.modal .modal-dialog .modal-content .modal-body {
    text-align: center;
    color: #333333;
    font-weight: 400;
    padding: 5% 0;
}

.modal .modal-dialog .modal-content .btn {
    outline: none;
    border: none;
}

.modal .btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.modal label{
    color: #999;
    font-weight: 300;
}

.img-container {
    height: 600px;
    width: 1120px;
    background: url('./images/counselling_modal.PNG');
    background-size: cover;
}

/* 사이드바 */
.sidebar {
    height: 100vh;
    width: 13vw;
    background-color: #2b2b2b;
}

.sidebar p {
    font-weight: 500;
}

.sidebar .btn {
    outline: none;
    border: none;
    padding: 6px 10px;
}
.sidebar .btn:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.sidebar .navbar-brand img {
    max-width: 9.2vw;
}

.navbar-nav .nav-item .sidebar-link,
.navbar-nav .nav-item .sidebar-link > i {
    color: #F1F1F1;
    font-weight: 600;
    text-decoration:none !important;
    border-radius: 5px;
}

.navbar-nav .nav-item .sidebar-link {
    font-weight: 500;
}

.navbar-nav .nav-item .sidebar-link:hover {
    text-decoration:none !important;
    background-color: #FAF8FF;
    border-radius: 5px;
    color: #b02b74;
    font-weight: 600;
}

.navbar-nav .nav-item .sidebar-link:hover > i {
    color: #b02b74;
}

.navbar-nav .nav-item .current,
.navbar-nav .nav-item .current > i {
    border-radius: 5px;
    background-color: #FFF4FC;
    color: #b02b74;
}
.navbar-nav .nav-item .current:hover,
.navbar-nav .nav-item .current:hover > i {
    border-radius: 5px;
    background-color: #FFF4FC;
    color: #b02b74;
}
.navbar-nav .nav-item .current:hover {
    box-shadow: 5px 5px 10px #1b1b1b;
}

/* 상단 nav바 */
.top-nav-bar {
    width: 87vw;
    background-color: #2b2b2b;
}

.top-nav-bar .nav-title {
    margin-left: 40px;
}

.search-input {
    background: transparent;
    border: none;
    border-radius: none;
    border-bottom: 2px solid #999;
    transition: all .4s;
}

.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

.search-button {
    border-radius: 50%;
    padding: 10px 15px;
    transition: all .4s
}

.search-button:hover{
    background-color: #eee;
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #f44336;
    border-radius: 50%;
}

/* footer */
.card-container .footer p,
.card-container .footer a {
    font-weight: 300;
    padding: 0 10px 0 10px;
}

.card-container .footer .nav-link i {
    font-weight: 100;
    font-size: 22px;
}

.card-container .footer .nav-link .fa-mug-saucer {
    font-weight: 700;
}




/* card 섹션 */
body::-webkit-scrollbar{
    display: none;
}

.card-container {
    width: 87vw;
}

.card-container .card * {
    color: #222222;
}

.card-header .nav-item:hover {
    cursor: pointer;
    transform: translate(-1px, -1px);
}


/* 페이지네이션 */
.page-link:focus {
    background: transparent;
    box-shadow: none;
}

/* 캐러셀 */
.carousel {
    width: 87vw;
}

/* select box */
option {
    font-weight: 500;
}