<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta 태그 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <title>상담페이지 - 회원관리</title>
</head>
<body>
    <!-- 모달 -->
    <!-- 로그아웃 모달 -->
    <div class="modal fade" id="sign-out" tabindex="-1" aria-labelledby="signOutModealLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signOutModealLabel">로그아웃</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    로그아웃 하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">확인</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#sidebar">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebar">
            <div class="container-fluid">
                <div class="row">
                    <!-- 사이드바 -->
                    <div class="sidebar fixed-top right-border">
                        <a href="/index.html" class="navbar-brand text-center d-block mx-auto py-4 bottom-border"><img src="../static/images/purple_logo_03.png"></a>
                        <div class="bottom-border text-center">
                            <p class="fs-6 pt-4">ㅇㅇㅇ님 환영합니다.</p>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <!-- 사이드바 메뉴 -->
                            <li class="nav-item">
                                <a href="/perform" class="nav-link p-1 mb-2 current p-2">
                                    <i class="fa-solid fa-list-check fa-lg me-3 ms-3"></i>업무관리
                                </a>
                                <a href="/user" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-user-group fa-lg me-3 ms-3"></i>회원관리
                                </a>
                                <a href="/counselling" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-comments fa-lg me-3 ms-3"></i>상담관리
                                </a>
                                <a href="/schedule" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-regular fa-calendar fa-lg me-3 ms-3 px-1"></i>일정관리
                                </a>
                                <a href="/mypage" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-gears fa-lg me-3 ms-3"></i>마이페이지
                                </a>
                                <!-- sidebar-link 클래스 제거하고 current 클래스 추가하여 현재 페이지 표현  -->
                            </li>
                        </ul>
                    </div>

                    <!-- 상단 네비게이션바 -->
                    <div class="top-nav-bar ms-auto fixed-top py-3 bottom-border">
                        <div class="row py-1">
                            <div class="col d-flex align-items-center">
                                <h4 class="nav-title mb-0"><i class="fa-solid fa-user-group fa-md me-3"></i>회원관리</h4>
                            </div>
                            <div class="col d-flex justify-content-end me-4">
                                <ul class="navbar-nav">
                                    <li class="nav-item icon-parent me-2"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section id="user">
        <div class="container-fluid">
            <div class="row">
                <div class="card-container ms-auto">
                    <div class="row pt-5 mt-3 mb-1">
                        <div class="col-sm-12 p-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="p-3 pb-2"><strong>원생목록</strong></h5>
                                </div>
                                <div class="card-body p-5">

                                    <table class="table text-center">
                                        <thead>
                                            <tr class="text-muted row">
                                                <th class="col-2">#</th>
                                                <th class="col-2">이름</th>
                                                <th class="col-3">반</th>
                                                <th class="col-3">연락처</th>
                                                <th class="col-1">동작</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row">
                                                <td class="col-2">1</td>
                                                <td class="col-2">ㅇㅇㅇ</td>
                                                <td class="col-3">ㅇㅇㅇㅇㅇ</td>
                                                <td class="col-3">010-1111-1111</td>
                                                <td class="col-1">
                                                    <div class="row justify-content-center">
                                                        <a class="col-4" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="edit">
                                                            <i class="fas fa-edit fa-lg text-success"></i>
                                                        </a>
                                                        <a class="col-4" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="dlete">
                                                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <nav>
                                        <div class="row">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">
                                                        <span>&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a href="#" class="page-link py-2 px-3">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">
                                                        <span>&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta 태그 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/favicon.ico">

    <title>상담페이지 - 회원관리</title>
</head>
<body>
    <!-- 모달 -->
    <!-- 로그아웃 모달 -->
    <div class="modal fade" id="sign-out" tabindex="-1" aria-labelledby="signOutModealLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signOutModealLabel">로그아웃</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    로그아웃 하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">확인</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#sidebar">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sidebar">
            <div class="container-fluid">
                <div class="row">
                    <!-- 사이드바 -->
                    <div class="sidebar fixed-top right-border">
                        <a href="/index.html" class="navbar-brand text-center d-block mx-auto py-4 bottom-border"><img src="./images/purple_logo_03.png"></a>
                        <div class="bottom-border text-center">
                            <p class="fs-6 pt-4">ㅇㅇㅇ님 환영합니다.</p>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <!-- 사이드바 메뉴 -->
                            <li class="nav-item">
                                <a href="/index.html" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-list-check fa-lg me-3 ms-3"></i>업무관리
                                </a>
                                <a href="/user.html" class="nav-link p-1 mb-2 current p-2">
                                    <i class="fa-solid fa-user-group fa-lg me-3 ms-3"></i>회원관리
                                </a>
                                <a href="/counselling.html" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-comments fa-lg me-3 ms-3"></i>상담관리
                                </a>
                                <a href="/schedule.html" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-regular fa-calendar fa-lg me-3 ms-3 px-1"></i>일정관리
                                </a>
                                <a href="/mypage.html" class="nav-link p-1 mb-2 sidebar-link p-2">
                                    <i class="fa-solid fa-gears fa-lg me-3 ms-3"></i>마이페이지
                                </a>
                                <!-- sidebar-link 클래스 제거하고 current 클래스 추가하여 현재 페이지 표현  -->
                            </li>
                        </ul>
                    </div>

                    <!-- 상단 네비게이션바 -->
                    <div class="top-nav-bar ms-auto fixed-top py-3 bottom-border">
                        <div class="row py-1">
                            <div class="col d-flex align-items-center">
                                <h4 class="nav-title mb-0"><i class="fa-solid fa-user-group fa-md me-3"></i>회원관리</h4>
                            </div>
                            <div class="col d-flex justify-content-end me-4">
                                <ul class="navbar-nav">
                                    <li class="nav-item icon-parent me-2"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section id="user">
        <div class="container-fluid">
            <div class="row">
                <div class="card-container ms-auto">
                    <div class="row pt-5 mt-3 mb-1">
                        <div class="col-sm-12 p-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="p-3 pb-2"><strong>원생목록</strong></h5>
                                </div>
                                <div class="card-body p-5">

                                    <table class="table text-center">
                                        <thead>
                                            <tr class="text-muted row">
                                                <th class="col-2">#</th>
                                                <th class="col-2">이름</th>
                                                <th class="col-3">반</th>
                                                <th class="col-3">연락처</th>
                                                <th class="col-1">동작</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row">
                                                <td class="col-2">1</td>
                                                <td class="col-2">ㅇㅇㅇ</td>
                                                <td class="col-3">ㅇㅇㅇㅇㅇ</td>
                                                <td class="col-3">010-1111-1111</td>
                                                <td class="col-1">
                                                    <div class="row justify-content-center">
                                                        <a class="col-4" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="edit">
                                                            <i class="fas fa-edit fa-lg text-success"></i>
                                                        </a>
                                                        <a class="col-4" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="dlete">
                                                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <nav>
                                        <div class="row">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">
                                                        <span>&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a href="#" class="page-link py-2 px-3">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="#" class="page-link py-2 px-3">
                                                        <span>&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="card-container ms-auto">
                    <div class="footer row top-border pt-3 pb-2">
                        <div class="col-lg-6 text-center">
                            <p class="px-3 mb-2">&copy; 2022 Copyright. <span class="text-purple">PURPLEACADEMY</span></p>
                        </div>
                        <div class="col-lg-6 text-center">
                            <div class="row justify-content-center align-items-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-2">
                                        <a href="https://www.instagram.com/purpleacademy1/" target="_blank" class="nav-link icon text-light"><img class="mb-2" src="../static/images/Instagram_Glyph_Gradient.png" width="21"></span></a>
                                    </li>
                                    <li class="list-inline-item mr-2">
                                        <a href="https://www.youtube.com/c/livePURPLEACADEMY/featured" target="_blank" class="nav-link icon text-light"><i class="fa-brands fa-youtube text-youtube"></i></a>
                                    </li>
                                    <li class="list-inline-item mr-2">
                                        <a href="https://cafe.naver.com/purplemam" target="_blank" class="nav-link icon text-light"><img class="mb-2" src="../static/images/naver_cafe.png" width="21"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- 부트스트랩 번들 pooper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a32d17aaaa.js" crossorigin="anonymous"></script>
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
</body>
</html>